.card-componen1 {
  background-size: 100% 100%;
  width: 204px;
  height: 307px;
  border-radius: 6px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding-top: 251px;
}

.wrap-text-card-componen {
  width: 120px;
  height: 56px;
  background: #ffffff;
  border-radius: 0px 6px 0px 0px;
  padding-top: 11px;
}

.text4-componen {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  padding-left: 3px;
  color: #042521;
}

.text5-componen {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 15px;
  color: #848484;
  padding-left: 3px;
}
