.jumbotron-fgp {
  background-image: url(../../assets/img/img11.png);
  background-size: 100% 100%;
  height: 550px;
}
.wrap-text-back {
 
  display: flex;
  align-items: center;
  margin-left: 74px;
  padding-top: 44px;
}
.text-a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: 35px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
}
.text-back{
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: 25px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
    margin-top: 14px;
}
.wraper-text-fgp{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.wraper-input-fgp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input-fgp{
    width: 300px;
    margin-top: 40px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
}
.input-fgp::placeholder{
    width: 300px;
    color: white;
    text-align: center;
}
.text-resend-link{
    margin-top: 60px;
    margin-bottom: 0px;
}
.text-resend-link2{
    margin-bottom: 0px;
    color: white;
}